# dependencies
node_modules
**/node_modules

# next
.next
**/.next

# build outputs
dist
build
coverage
**/dist
**/build
**/coverage

# git
.git
.gitignore

# env
.env
.env.*
.env.local

# logs
*.log
npm-debug.log

# editors
.vscode
.idea

# temp
tmp
temp
uploads

# docker
docker-compose.yml

# media
*.mp4
*.zip
*.tar